<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
          PUBLIC
          "-//W3C//DTD XHTML 1.1//EN"
          "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ stylesheet }}"/>
    <script type="text/javascript" src="scr.js"></script>
    {% for extra_stylesheet in extrastyle %}
    <link rel="stylesheet" type="text/css" href="{{ extra_stylesheet }}" />
    {% endfor %}
  </head>
  <body>
    {% block customheader %}{{ customheader }}{% endblock %}
    
    <div id="header">

    <div id="nav-bar">
    <ul>
    <li><a href="index.html">Module Index</a></li>
    <li><a href="class_hierarchy.html">Class Hierarchy</a></li>
    <li><a href="class_index.html">Class Index</a></li>
    <li><a href="namespace_index.html">Namespace Index</a></li>
    </ul>
    </div>
    <h1>{% block header_title %}{% if header_title %}{{header_title}}{%else%}{{ title }}{%endif%}{% endblock %}</h1>
    
    </div>

    {% block content %}{% endblock %}
    
    {% block customfooter %}{{ customfooter }}{% endblock %}
  </body>
</html>

